/target
/adm-build/*
!/adm-build/test_game/
/adm-build/test_game/*
!/adm-build/test_game/test_game.rs
!/adm-build/test_game/manifest.toml
!/adm-build/test_game/build.sh

/games/pong/target

/games/tictactoe/target
